<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <title>管理后台</title>
    <style type="text/css">
    	img{width: 150px;height: 150px;}
    </style>
</head>
<body>
    <h1>管理后台</h1>
	<a href="/loginout">退出登录</a>
	<form action="entering" method="post">
		<input type="text" name="emtRoot" id="imgRootUrl" value="" placeholder="表情包根目录"/>
		<input type="text" name="emtName" id="imgRootUrl" value="" placeholder="表情包名"/>
		<input type="text" name="emtCount" id="emtCount" value="" placeholder="表情包数量"/>
		<input type="submit" value="提交"/>
	</form>
</body>
</html>